<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
  <h1>{{#link-to 'index'}}上海金融学院{{/link-to}} <small>学生信息管理系统</small></h1>
  </div>
</header>
<div class="container">
  <ul class="nav nav-tabs" {{action 'select'}}>
    <li role="presentation" class="{{nav-li 'students'}}">
      {{#link-to 'students.index' 1 20}}学生信息{{/link-to}}</li>
    <li role="presentation" class="{{nav-li 'nations'}}" >
      {{#link-to 'nations.index' 1 20}}民族管理{{/link-to}}</li>
    <li role="presentation" class="{{nav-li 'adminclass'}}" >
      {{#link-to 'adminclass.index' 1 20}}班级信息{{/link-to}}</li>
  </ul>
  <div>
    {{outlet}}
  </div>
</div>
